/*First Row, Header Row */
h1 {
  font-family: "Chelsea Market", cursive;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 30px;
  background: -webkit-linear-gradient(#a8edea 0%, #fed6e3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  text-transform: capitalize;
  font-family: "Chelsea Market", cursive;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #a8edea;
  opacity: 40%;
}

.weatherInfo {
  display: block;
  align-self: center;
  font-family: "Chelsea Market", cursive;
  font-weight: bolder;
  font-size: 23px;
  color: #f77f3a;
  opacity: 65%;
  padding-top: 20px;
  line-height: 20px;
 
}
.li{
    padding:0 auto;
    text-align: center;
}
/*Second Row, Location Temp */
.currenttemp {
  
  text-align: center;
  font-size: 50px;
  font-family: "Chelsea Market", cursive;
  margin: 0 auto;
}
.borderStyle{
  flex-shrink: 0;
	margin: 20px;
	height: calc(150px + 6vw);
	width: calc(170px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 30%;
	
  
}
.boxStyle{
  padding: 0px;
  margin:0px 80px;
}
.emoji{
    padding-top: 40px;
}

/*Second Row Text Labels*/
.textstyle {
  font-size: 30px;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  text-transform: uppercase;
  color: #c3cfe2;
  margin: 0 auto;
}

/*Third Row, Five Day of the Week Labels */
.label {
  margin: 150px 0px 15px 0px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  color: #c3cfe2;
}

/*Fourth Row, Five Day High Temp */
.hightemp {
  height: 150px;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  color: #c3cfe2;
}

/*Fifth Row, Five Day Low Temp */
.lowtemp {
  height: 80px;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  color: #c3cfe2;
  margin-bottom: 150px;
}

/*Original Div: Everything is contained within this division */
.container-fluid {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(7, 121, 222, 1) 0%,
    rgba(20, 72, 140, 1) 90%
  );
  border-radius: 75px 30px ;
  height: auto;
 

}
.conditionSection{
  margin-left: 0px;
}

.searchbutton {
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  border: 30px;
  border-radius: 30px;
}
.searchbutton:hover {
  background-position: right center;
}
.tempbutton {
  padding-left: 70%;
  margin-top: 10px;
}
.searchbar {
  padding-left: 50%;
}
.link{
  color: #f77f3a;  
}
.link:hover{
  color:#fffdfb; ; 
}
ul {
  padding: 0;
 }